/* theme customizations */
$theme-colors: (
        "primary": #014F41,
        "secondary":  #a9d3a2,
        "success":    #198754FF,
        "info":       #0DCAF0FF,
        "warning":    #FFC107FF,
        "danger":     #DC3545FF,
        "light":      #F8F9FAFF,
        "dark":       #212529FF
);

$body-bg: #BCB3B1;
$accordion-bg: #F8F9FAFF;
$form-select-bg: #F8F9FAFF;
$input-bg: #F8F9FAFF;
$nav-tabs-link-active-bg: #F8F9FAFF;
$nav-link-color: #014F41;
$link-color: #077e6a;
$list-group-bg: #F8F9FAFF;

.invertedImg {
  -webkit-filter: invert(1);
  filter: invert(1);
}


@import '~bootstrap/scss/bootstrap.scss';